---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FaqSection from "../components/sections/FaqSection.astro";
---

<Layout title="FAQ - Psychologia komunikacji marketingowej | Politechnika Wrocławska">
    <Header />
    <main id="main-content" class="flex-1">
        <FaqSection />
    </main>
    <Footer />
</Layout>
