---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import BlogArchive from "../../components/sections/BlogArchive.astro";
---

<Layout title="Blog | Psychologia komunikacji marketingowej - Politechnika Wrocławska">
    <Header />
    <main id="main-content" class="flex-1">
        <BlogArchive />
    </main>
    <Footer />
</Layout>
